body {
    font-family: sans-serif;
}

header{
    background-color:rgb(128,134,167);
}

header img {
    width:60px;
    height:40px;
    margin-left:60px;
    margin-top:20px;

}

header h1{
    text-align:center;
    padding:10px;
    color:rgb(220,197,169 );
    margin-bottom:px;
}

main{
    background-color:rgb(125,242,99);
}

main img{
    width:360px;
    height:240px;
}

